/examples/.ipynb_checkpoints/ex-01-DictFilesFunc-solution-full-checkpoint.ipynb
/examples/.ipynb_checkpoints/py-01-basics-checkpoint.ipynb
/examples/.ipynb_checkpoints/py-04-pandas-checkpoint.ipynb
/examples/.ipynb_checkpoints/py-07-multindex-checkpoint.ipynb
/project/.ipynb_checkpoints/solution-01-checkpoint.ipynb
/project/.ipynb_checkpoints/solution-01-from-1-to-6-checkpoint.ipynb
